.form__toggle {
    width: 470px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width:688px) {
    .form__toggle {
        width: 282px;
        height: 26px;
        margin-bottom: 13px;
    }
  }