.element__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> d6f329248cf55bd191a67ac7dfc1bfa361b696df
