.profile__info {
    width: 336px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 294px 42px;
    grid-template-rows: 39px 16px;
    gap: 18px 16px;
    grid-template-areas:
     "profile__name profile__edit-button"
     "profile__description .";
}

@media screen and (max-width:690px) {
    .profile__info {
        width: 217px;
        margin-bottom: 36px;
        margin-top: 26px;
        padding-left: 27px;
        grid-template-columns: 189px 18px;
        grid-template-rows: 26px 14px;
        gap: 14px 10px;
        justify-items: center;
    }
  }