.form__close-icon {
    width: 40px;
    right: 40px;
    opacity: 1;
}

.form__close-icon:hover {
    opacity: 0.8;
  } 

 @media screen and (max-width:688px) {
    .form__close-icon {
        width: 26px;
        right: 26px;
    }
  }