.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
    display: block;
  } 
  
  @media screen and (max-width: 320px) {
    .header__logo {
      width: 103.74px;
      height: 24.4px;
      padding-bottom: 37.6px;
      padding-left: 14px;
      }
<<<<<<< HEAD
    } 
=======
    } 
>>>>>>> d6f329248cf55bd191a67ac7dfc1bfa361b696df
