.popup__container {
    max-width: 430px;
    width: 100%;
    padding: 36px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    align-self: start;
    position: relative;
    border-radius: 10px;
    top: 195px;
}

 @media screen and (max-width:320px) {
    .popup__container {
        top: 123px;
    }
  }